*~
plans.md
scratch.txt
golem/golem_base/datos/sk_learn_complement
golem/golem_base/datos/other_data/*

golem/golem_base/datos/default
golem/golem_base/datos/default2
golem/golem_base/datos/default3
golem/golem_base/datos/default4
golem/golem_base/datos/default6
golem/golem_base/datos/defaultx
golem/golem_base/datos/defaultshort
golem/golem_base/datos/testFile.csv
build/cmake/scratch.txt

src/vuln.cpp
src/vuln.hpp
test/vuln_tests.cpp

TODO.md 
scratch