*~
plans.md
scratch.txt
golem/golem_base/datos/sk_learn_complement
golem/golem_base/datos/other_data/*

golem/golem_base/datos/default
golem/golem_base/datos/default2
golem/golem_base/datos/default3
golem/golem_base/datos/default4
golem/golem_base/datos/default6
golem/golem_base/datos/defaultx
golem/golem_base/datos/defaultshort
golem/golem_base/datos/testFile.csv
build/cmake/scratch.txt

src/vuln.cpp
src/vuln.hpp
test/vuln_tests.cpp

build/CMakeFiles
build/go
build/golem
build/include
build/src
build/test
build/cmake_install.cmake
build/CMakeCache.txt
build/libNVMBLib.a
build/Makefile
build/NVMB_EXEC

TODO.md 
scratch
.gitignore